<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mr.Doctor</title>
    <style>
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
        *{
            background-color: black;
            color: white;
            font-family: 'Poppins', sans-serif;
            direction: rtl;
            font-size: 3rem;
            padding: 20px;
            margin-right: 50px;
        }
    </style>
</head>
<body>
    <h1>همینه که هست!</h1>
</body>
</html>